@media only screen and (min-width: 1024px) {
        .footer-container {
                display: flex !important;
                width: 100% !important;
        }
}

@media only screen and (min-width: 760px) {
        .footer-container {
                display: flex !important;
                width: 100% !important;
                font-size: 15px;

        }
}

@media only screen and (min-width: 100px) {
        .footer-container {
                display: flex !important;
                width: 100% !important;
                font-size: 10px;
                padding: 0 auto;
        }
}